html{
	min-height: 100%;
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}
#container {
	background-color: #1F8CF9;
	padding: 1rem;
	width: 600px;
	height: 400px;
	margin: 2rem auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.button{
	cursor: pointer;
	border: none;
}
.float-wrapper{
	position: absolute;
	bottom: 35px;
	right: 35px;
	text-align: right;
	transition: all 1s ease-in-out;
}
.float-wrapper.active .button{
	/*transform: rotate(90deg);*/
}
.float-wrapper.active{
	/*transform: rotate(-90deg);*/
	-webkit-animation: buttonX 1s both, buttonY .5s both;
	animation: buttonX 1s both, buttonY .5s both;
}

.material-button.float-button {
	display: inline-block;
	text-align: center;
	width: 56px;
	height: 56px;
	box-shadow: 0 2px 6px rgba(0,0,0, .16);
	border-radius: 50%;
	background: #efefef;
	outline: none;
	transition: box-shadow .2s ease-in-out;
	transition: transform 1s ease-in-out;
	position: absolute;
	bottom: 35px;
	right: 35px;
}

.float-button:hover{
	box-shadow: 0 12px 20px rgba(0,0,0, .16);
}
.action-button.active{
	-webkit-animation: buttonX 1s both, buttonY .5s both;
	animation: buttonX 1s both, buttonY .5s both;
}

.material-button i{
	font-size: 3em;
}

.modal{
	background-color: #fff;
	box-shadow: 0 -5px 20px rgba(0,0,0,.1),  0 24px 40px rgba(0,0,0, .16);
	margin: auto;
	position: absolute;
	right: calc(50% - 250px);
	/*right: calc(50% - 35px);*/
	bottom: calc(50% + 70px);
	width: 500px;
	/*transform: scale(0);*/
	display: none;
	transition: all 2s ease-in;
	
}

.modal-hidden{
	display: none;
}

.modal-heading{
	margin: 0;
	border-bottom: 2px solid #f2f2f2;
	font-size: 1.5em;
}

.modal-body, .modal-heading, .modal-footer{
	padding: 1rem;
}

.modal-footer{
	text-align: right;
}

.modal-body{
	/*border-bottom: 2px solid #f2f2f2;*/
}

.button-modal{
	/*width: 500px;*/
	overflow: hidden;
}

.modal-active{
	/*op: calc(50% - 200px);
	left: calc(50% - 280px);
	min-width: 280px;
	width: auto;
	height: auto;*/
	/*-webkit-animation: toFormScale 2.7s both;
    animation: toFormScale 2.7s both;*/
    display: block;
    -webkit-animation: fadeIn .2s ease-out .55s both;
    animation: fadeIn .2s ease-out .55s both;
}

.form-group{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group input.form-control{
	height: 43px;
	border: none;
	border-bottom: 2px solid #f2f2f2;
	color: #afafaf;
	padding: 10px;
	font-size: 1.3em;
	outline: none;
	flex: 1;
}

.button-modal .button{
	height: 36px;
	display: inline-block;
	text-align: center;
	padding: 10px 16px;
	box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	border-radius: 2px;
	text-transform: uppercase;
	color: #fff;
	min-width: 88px;
	background: #009688;
}

.button-modal .button:hover{
	box-shadow: 0 6px 10px rgba(0,0,0,.1);
}
.button-modal .button-disabled:hover{
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}
.button-modal  .button-disabled{
	color: rgba(0,0,0, .3);
	background-color: rgba(0,0,0, .12);
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
}



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: rotate(270deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: rotate(270deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


@-webkit-keyframes toFormScale {
	0% {
		transform: rotate(180deg);
		transform: scale(0);
	}
	15% {
		transform: scale(0);
		/*border-radius: 50%;*/
	}
    100% {
    	transform: scale(1);
    	transform: rotate(180deg);
    	/*transform: rotate(0deg);*/
		border-radius: 2px;
    }
}
@keyframes toFormScale {
	0% {
		transform: scale(0);
		/*border-radius: 50%;*/
	}

	15% {
		transform: scale(0);
		/*border-radius: 50%;*/
	}


    100% {
    	transform: scale(1);
    }
}



@-webkit-keyframes buttonX {
	0% {
		right: 35px;
	}

	90% {
		right: calc(50% - 35px);
	}

	100% {
		width: 0;
		height: 0;
	}
}
@keyframes buttonX {
	0% {
		right: 35px;
	}

	70% {
		right: calc(50% - 35px);
		transform: scale(1);
	}

	100% {
		/*width: 0;*/
		/*height: 0;*/
		transform: scale(.0);
		right: calc(50% - 35px);
	}
}



@-webkit-keyframes buttonY {
	0% {
		bottom: 35px;
	}

	100% {
		bottom: calc(85%);
	}
}
@keyframes buttonY {
	0% {
		bottom: 35px;
	}

	100% {
		bottom: calc(85%);
	}
}

